:root {
    --color-fuente-principal: #283618;
    --color-fuente-secundario: #606c38;
    --color-fuente-especial: #9b5de5;

    --color-fondo-principal: #fefae0;
    --color-fondo-secundario: #dda15e;

    --color-fondo-botones: #bc6c25;

    --color--llamativo--uno: #fee440;
    --color--llamativo--dos: #00bbf9;
}

body {
    background-image: url('./material/imagenes/background1.jpg');
    font-family: monospace;
    margin: 0 auto;
    text-align: center;
}

#contenedor-principal{
    max-width: 1024px;
    min-width: 200px;
    margin-top: 0 auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 295px;
}

header nav {
    background-color: var(--color-fondo-botones);
    display: flex;
    height: 100%;
    justify-content: center;
    min-width: 295px;
    width: 100%;
}
header nav ul {
    margin-right: 40px;
    justify-content: center;
    width: 100%;
}
header nav ul li {
    border-radius: 18px;
    display: inline;
    line-height: 100%;
    margin-right: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
    transition: 0.6s;
}
header nav ul li a {
    color: var(--color-fondo-principal);
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    padding: 8px;
}
header nav ul li a:hover {
    color: var(--color-fuente-principal);
    background-color: var(--color-fondo-secundario);
    border: 1px solid var(--color-fuente-principal);
    border-radius: 18px;
    padding: 8px;
    transition: 0.3s;
}


/*-------------------------------------------------MENU PRINCIPAL------------------------------------------------------*/

#menu-inicio {
    align-items: center;
    background-image: url(./material/imagenes/background2.jpg);
    border: 1px solid var(--color-fondo-secundario);
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}
#menu-inicio:hover {
    border: 1px solid var(--color-fuente-principal);
    transition: 0.6s;
}

#menu-inicio-imagen img{
    border: 1px solid var(--color-fondo-secundario);
    border-radius: 107px;
    float: top;
    height: auto;
    margin-left: 6%;
    margin-right: 6%;
    padding: 10px;
    width: 500px;
}
#menu-inicio-imagen img:hover{
    border: 1px solid var(--color-fuente-principal);
    transition: 0.6s;
}

#menu-inicio-texto {
    background-color: var(--color-fondo-principal);
    border: 1px solid var(--color-fondo-secundario);
    border-radius: 10px;
    color: var(--color-fuente-principal);
    clear: both;
    float: top;
    margin-left: 6%;
    margin-right: 6%;
    padding: 18px;
}
#menu-inicio-texto:hover{
    border: 1px solid var(--color-fuente-principal);
    transition: 0.6s;
}
#menu-inicio-texto h1 {
    font-size: 20px;
}
#menu-inicio-texto h1 span {
    color: var(--color-fondo-botones);
    font-size: 22px;
}
#titulo {
    color: var(--color-fuente-especial);
}

#menu-inicio-botones {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.menu-inicio-boton {
    background-color: var(--color-fondo-botones);
    border: 2px solid var(--color-fondo-botones);
    border-radius: 18px;
    color: var(--color-fondo-principal);
    cursor: pointer;
    font-weight: bold;
    grid-column: auto;
    margin: 5%;
    padding: 10px;
    width: 150px;
}
.menu-inicio-boton:hover {
    border: 2px solid var(--color-fuente-secundario);
    transition: 0.3s;
}
.menu-inicio-boton:active{
    transform: scale(.95);
}
.menu-inicio-boton a {
    color: var(--color-fondo-principal);
    text-decoration: none;
}

.fa-instagram {
    background-color: var(--color-fondo-botones);
    border: 2px solid var(--color-fondo-botones);
    border-radius: 18px;
    color: var(--color-fondo-principal);
    font-size: 15px;
    margin: 5%;
    padding: 5px;
}
.fa-instagram a {
    color: var(--color-fondo-principal);
    font-family: monospace;
    margin-left: 5px;
    text-decoration: none;
}
.fa-instagram:hover {
    border: 2px solid var(--color-fuente-secundario);
    transition: 0.3s;
}
.fa-instagram:active{
    transform: scale(.95);
}

.fa-youtube {
    background-color: var(--color-fondo-botones);
    border: 2px solid var(--color-fondo-botones);
    border-radius: 18px;
    color: var(--color-fondo-principal);
    font-size: 15px;
    margin: 5%;
    padding: 5px;
}
.fa-youtube a {
    color: var(--color-fondo-principal);
    font-family: monospace;
    margin-left: 5px;
    text-decoration: none;
}
.fa-youtube:hover {
    border: 2px solid var(--color-fuente-secundario);
    transition: 0.3s;
}
.fa-youtube:active{
    transform: scale(.95);
}

/*-------------------------------------------------BIOGRAFIA------------------------------------------------------*/

#menu-biografia {
    align-items: center;
    background-color: var(--color-fondo-secundario);
    background-image: url(./material/imagenes/background2.jpg);
    border: 1px solid transparent;
    border-radius: 8px;
    clear: both;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    text-align: center;
}
#menu-biografia:hover {
    border: 1px solid var(--color-fondo-botones);
    transition: 0.6s;
}

#menu-biografia-imagen img {
    border: 1px solid transparent;
    border-radius: 18px;
    height: auto;
    margin-left: 6%;
    margin-right: 6%;
    padding: 10px;
    width: 400px;
}
#menu-biografia-imagen img:hover {
    border: 1px solid var(--color-fuente-principal);
    transition: 0.6s;
}

#menu-biografia-texto {
    background-color: var(--color-fondo-principal);
    border: 1px solid var(--color-fondo-secundario);
    border-radius: 10px;
    color: var(--color-fuente-principal);
    clear: both;
    float: top;
    margin-left: 6%;
    margin-right: 6%;
    padding: 18px;
}
#menu-biografia-texto:hover {
    border: 1px solid var(--color-fuente-principal);
    transition: 0.6s;
}

.menu-biografia-boton {
    background-color: var(--color-fondo-botones);
    border: 2px solid var(--color-fondo-botones);
    border-radius: 18px;
    color: var(--color-fondo-principal);
    cursor: pointer;
    font-weight: bold;
    margin-top: 5%;
    padding: 10px;
    width: 150px;
}
.menu-biografia-boton:hover {
    border: 2px solid var(--color-fuente-secundario);
    transition: 0.3s;
}
.menu-biografia-boton:active{
    transform: scale(.95);
}
.menu-biografia-boton a {
    color: var(--color-fondo-principal);
    text-decoration: none;
}

/*-------------------------------------------------TRAYECTORIA------------------------------------------------------*/

#menu-trayectoria{
    background-image: url(./material/imagenes/background2.jpg);
    border: 1px solid var(--color-fuente-principal);
    border-radius: 8px;
    display: flex;
    margin: 5%;
    padding: 5%;
}
#menu-trayectoria-texto{
    background-color: var(--color-fondo-principal);
    margin: 0px auto;
}
#menu-trayectoria-texto h2 {
    color: var(--color-fuente-principal);
    text-decoration: 1px solid underline;
}
#menu-trayectoria-texto ul {
    display: block;
    margin: 0px auto;
    padding: 0px;
    text-align: left;
}
#menu-trayectoria-texto ul li {
    color: var(--color-fuente-principal);
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    list-style: none;
}
#menu-trayectoria-boton {
    background-color: var(--color-fondo-botones);
    border: 2px solid var(--color-fondo-botones);
    border-radius: 18px;
    color: var(--color-fondo-principal);
    cursor: pointer;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 10px;
    width: 150px;
}
#menu-trayectoria-boton:hover {
    border: 2px solid var(--color-fuente-secundario);
    transition: 0.3s;
}
#menu-trayectoria-boton:active{
    transform: scale(.95);
}
#menu-trayectoria-boton a {
    color: var(--color-fondo-principal);
    text-decoration: none;
}

/*------------------------------------------------- HACER GALERIA------------------------------------------------------*/


/*------------------------------------------------------CONTACTO------------------------------------------------------*/

footer {

    align-items: center;
    background-color: var(--color-fondo-secundario);
    
    margin: 0% auto;
    min-width: 320px;
}

#menu-contacto {
    display: grid;
    grid-column: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

#menu-contacto h3 {
    background-color: transparent;
    color: var(--color-fondo-principal);
    font-size: 3vh;
}

/*--------------------------------------------------------*/
@media (max-width: 1024px){

    #menu-biografia {
        border-radius: 0px;
    }
}

@media (max-width: 850px) {
    
    #menu-inicio {
        align-items: center;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin: 10px 30px;
    }
    #menu-inicio-texto {
        color: var(--color-fuente-principal);
        margin-left: auto;
        margin-right: auto;
    }
    #menu-inicio-imagen img{
        border: 1px solid var(--color-fondo-secundario);
        border-radius: 107px;
        height: auto;
        min-width: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    #menu-biografia {
        align-items: center;
        border-radius: 0px;
        display: grid;
        grid-template-columns: auto;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        text-align: center;
    }
    
    #menu-biografia-imagen img {
        border-radius: 18px;
        grid-column: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        width: 80%;
    }
    
    #menu-biografia-texto {
        border-radius: 10px;
        grid-column: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 18px;
        width: 80%;
    }
}

@media (max-width: 740px) {

    header nav {
        align-items: center;
        display: flex;
    }
    header nav ul {
        display: grid;
    }
    header nav ul li {
        grid-template-columns: auto;
        padding: 5px;
        text-align: center;
        transition: 0.6s;
    }
}

@media (max-width: 450px) {

    .contenedor-principal {
        display: grid;
        grid-template-columns: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:281px) {
    header nav{
        width: 120%;
    }
    main {
        align-items: center;
        display: grid;
        grid-template-columns: auto;
        margin-right: auto;
        margin-left: 5%;
    }
}